<launch>
  <env name="GAZEBO_MODEL_PATH" value="$(find autonomos_gazebo_simulation)/models:$(optenv GAZEBO_MODEL_PATH)"/>
  <env name="GAZEBO_RESOURCE_PATH" value="$(find autonomos_gazebo_simulation)/worlds:$(optenv GAZEBO_RESOURCE_PATH)"/>
  <env name="GAZEBO_PLUGIN_PATH" value="$(find autonomos_gazebo_simulation)/../../devel/lib:$(optenv GAZEBO_PLUGIN_PATH)"/>
  <arg name="world"  default="autoNOMOS_curved_road"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(arg world).world"/>
  </include>
  
  <node name="simple_gui" pkg="simple_gui" type="simple_gui" output="screen"/>
</launch>
